body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #111;
  overflow: hidden;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
