html, body {
  margin: 0;
  padding: 0;
  background: #111;
  font-family: system-ui, sans-serif;
}



/* ESTILO GENERAL DE LOS BOTONES */
/* Contenedores de botones */
#botones-izquierda, #botones-derecha {
  position: absolute;
  top: 50%; /* centrado vertical */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px; /* separación entre botones */
  z-index: 10; /* encima del canvas */
}

/* Separación horizontal de los botones respecto al canvas */
#botones-izquierda {
  left: 50px; /* separación desde borde izquierdo */
}

#botones-derecha {
  right: 50px; /* separación desde borde derecho */
}

/* Estilo general de los botones */
#botones-izquierda button,
#botones-derecha button {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s;
}

#botones-izquierda button:hover,
#botones-derecha button:hover {
  background-color: #555;
}





