 {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #111;
  font-family: system-ui, sans-serif;
  overflow: hidden;
}

/* CONTENEDOR GENERAL */
#app {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* CONTENEDOR DEL CANVAS */
#a4-container {
  position: absolute;
  inset: 0;
}

/* BOTONES (COMÚN) */
#botones-izquierda,
#botones-derecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 10;
}

button {
  background: #222;
  color: #ddd;
  border: 1px solid #444;
  padding: 8px 12px;
  font-size: 12px;
  cursor: pointer;
}

button:hover {
  background: #333;
}
button:active {
  background: #ff0000;
}
button:disabled {
  background: #ff0000;
}

/* POSICIÓN POR DEFECTO (VERTICAL) */
#botones-izquierda {
  left: 12px;
}

#botones-derecha {
  right: 12px;
}

/* HORIZONTAL → BOTONES MÁS PEGADOS AL MARCO */
@media (orientation: landscape) {
  #botones-izquierda {
    left: 200px;
  }

  #botones-derecha {
    right:200px;
  }
}

/* VERTICAL → UN POCO MÁS SEPARADOS */
@media (orientation: portrait) {
  #botones-izquierda {
    left: 12px;
  }

  #botones-derecha {
    right: 12px;
  }
}



















